@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps');

p {
  font-size: 1em;
  line-height: 1.5em;
  }
  
figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "Times New Roman";
}

.milk-text {
  font: bold 2.6em 'Elsie Swash Caps' ;
  color:white;
  text-shadow: 0 2px 3px 0000;
}

#logo {
  background: blue;
}